#file-input,
input {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  margin: 10px auto;
  font-size: 15px;
}
input {
  background: #f1f1f1;
  border: 0;
  padding: 0 15px;
}
body {
  background: #3498db;
  font-family: sans-serif;
  font-size: 14px;
  color: #777;
}
#file-input {
  padding: 0;
  border: 1px solid #ddd;
  line-height: 44px;
  text-align: left;
  display: block;
  cursor: pointer;
}
#bar,
#prgbar {
  background-color: #f1f1f1;
  border-radius: 10px;
}
#bar {
  background-color: #3498db;
  width: 0%;
  height: 10px;
}
form {
  background: #fff;
  max-width: 358px;
  margin: 75px auto;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}
.btn {
  background: #3498db;
  color: #fff;
  cursor: pointer;
}
.fatbtn {
  background: #3498db;
  color: #fff;
  cursor: pointer;
  height: 44px;
}
.removebtn {
  background: #d21f1b;
  color: #fff;
  cursor: pointer;
}
.table-wrapper {
  overflow-x: auto;
  overflow-y: scroll;
  height: 150px;
}
.table-wrapper th {
  position: sticky;
  top: 0;
}
table.scroll-table {
  border-collapse: collapse;
  width: 100%;
}
table.scroll-table th {
  background: #ddd;
  padding: 2px;
  text-align: center;
}
table.scroll-table td {
  padding: 2px;
  text-align: center;
}
.halign {
  display: inline-block;
  width: 130px;
  margin-left: 10%;
  margin-right: 10%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-value {
  padding: 5px;
  text-align: left;
}

.grid-label {
  padding: 5px;
  font-weight: bold;
  text-align: left;
}
